.sell-section {
    padding-top: 3em;
    padding-bottom: 3em;
}

.sell-text {
    text-align: left;
}

.sell-text h2{
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 0.04em;
    margin-top: 1em;
}

.sell-text h6{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.75em;
    letter-spacing: 0.05em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.sell1-image img{
    width: 100%;
    max-width: 40em;
}

.sell2-image img{
    width: 100%;
    max-width: 40em;
}

.sell3-image img{
    width: 100%;
    max-width: 30em;
}