.npo-hero {
    background-image: linear-gradient(-180deg, #F2FEFF 3%, #FFFFFF 98%, #FFFFFF 98%);
    box-shadow: 0 2px 40px 0 rgba(0,0,0,0.06);
    padding: 4em;
}

.npo-hero h1 {
    font-size: 3em;
    font-weight: 300;
    letter-spacing: 0.04em;
    line-height: 1.25em;
}

.npo-hero h6 {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.75em;
    letter-spacing: 0.05em;
    margin-top: 2em;
}

.npo-hero img{
    display: block;
    width: 100%;
}

.npo-hero a.btn-lg{
    margin: 2em auto 3em auto;
}

@media only screen and (max-width: 575px) {
    
    .npo-hero img{
        display: none;
    }

}