.hero {
    background-image: url("../../images/topography_pattern.png"); 
    background-image: url("../../images/topography_pattern.png"), linear-gradient(#EEFFFF, #fff); 
    padding: 5em 4em 5em 4em;
}

.hero-value{
    text-align: center;
}

.hero-value h1 {
    font-size: 3em;
    font-weight: 300;
    letter-spacing: 0.04em;
}

.hero-value h6 {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 0.05em;
    margin-top: 2em;
}

.hero-image img{
    width: 100%;
    max-width: 36em;
}

.hero-value .form-container {
    margin-top: 2em;
}

.hero-value form {
    margin: 0;
    overflow: auto;
}

.hero-value form input{
    background: #fff;
    border: 1px solid #00BCD1;
    padding: 0em 0em 0em 1em;
    border-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.hero-value form button{
    background: #00BCD1;
    border: 1px solid #00BCD1;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 600;
    letter-spacing: 0.075em;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.hero-value form button:hover{
    background: #fff;
    border: 1px solid #00BCD1;
    color: #00BCD1;
}


@media only screen and (max-width: 575px) {
    
    .hero-image img{
        display: none;
    }

    .hero-value form {
        width: 18em;
        height: 6.5em;
    }
    
    .hero-value form input{
        width: 100%;
        height: 3em;
        margin-bottom: 0.5em;
        border-radius: 6px;
    }
    
    .hero-value form button{
        width: 100%;
        height: 3em;
        border-radius: 6px;
    }
}

@media only screen and (min-width: 576px) {
    
    .hero-value form {
        width: 30em;
        height: 3em;
    }
    
    .hero-value form input{
        width: 60%;
        height: 100%;
    }
    
    .hero-value form button{
        width: 40%;
        height: 100%;
    }
}






