.about {
    margin-bottom: 4em;
    font-size: 1.125em;
    line-height: 2em;
    letter-spacing: 0.025em;
}
.about h2 {
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 0.04em;
    margin: 2em 0 2em 0;
    text-align: left;
}

.about p {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: left;
}


.about svg {
    margin-right: 0.5em;
}

.about img {
    width: 8em;
    height: 8em;
    float: left;
    margin: 0 2em 1em 0;
}

.about ul {
    text-align: left;
}

.about ul li{
    margin: 1em;
}

.about .form-container {
    margin-top: 2em;
}

.about form {
    margin: 0 auto;
    overflow: auto;
}

.about form input{
    background: #fff;
    border: 1px solid #00BCD1;
    padding: 0em 0em 0em 1em;
    border-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.about a.start-button {
    background: #00BCD1;
    color: #fff;
    border: 1px solid #00BCD1;
    padding: 1em 2em;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 0.075em;
    border-radius: 6px;
    float: left;
}

.about a.start-button:hover{
    background: #fff;
    border: 1px solid #00BCD1;
    color: #00BCD1;
    text-decoration: none;
}


@media only screen and (max-width: 575px) {
    
    .about form {
        width: 18em;
        height: 6.5em;
    }
    
    .about form input{
        width: 100%;
        height: 3em;
        margin-bottom: 0.5em;
        border-radius: 6px;
    }
    
    .about form button{
        width: 100%;
        height: 3em;
        border-radius: 6px;
    }
}

@media only screen and (min-width: 576px) {
    
    .about form {
        width: 36em;
        height: 3em;
    }
    
    .about form input{
        width: 60%;
        height: 100%;
    }
    
    .about form button{
        width: 40%;
        height: 100%;
    }
}