.design-challenge {
    padding-bottom: 6em;
}

.design-challenge-hero h3 {
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.25em;
}

.design-challenge-hero img{
    width: 100%;
    max-width: 32em;
    float: left;
}

.design-challenge ul {
padding:0 0 0 1em;
}

.design-challenge p, li {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.75em;
    letter-spacing: 0.025em;
}

.design-challenge a {
    text-decoration: none;
    color: #36B1BF;
    font-weight: 700;
    text-decoration: underline;
}

.design-challenge a:hover {
    color: #000000;
}

.design-challenge-hero .tag-links {
    font-size: 0.875em;
}

@media only screen and (min-width: 960px) {
    
    .tag-links {
        padding-top: 3em;
    }
}

.design-challenge-hero .organization-name {
    font-size: 0.875em;
    font-weight: 700;
    padding-bottom: 2em;
}

.challenge-left-col {
    text-align: left;
    padding-top: 1em;
}

.challenge-header-sm {
    font-size: 0.875em;
    font-weight: 700;
    color: #75A5B1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 5em 0 2em 0;
}

.challenge-right-col {
    text-align: left;
}

.challenge-right-col-sec {
    border-left: 2px solid #36B1BF;
    padding-left: 2em;
    margin-bottom: 2em;
}

.challenge-right-col-sec .organization-name {
    font-weight: 700;
}

.challenge-user-profile {
    padding: 2em;
    margin: 4em 0 0 0;
}

.challenge-user-profile h6{
    margin: 3em 0 1em 0;
}

.challenge-user-profile-header{
    overflow: auto;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #C3D7D9;
}

.challenge-user-profile-header h6{
    margin: 1em 0 1em 0;
}

.challenge-user-profile-header img{
    width: 5em;
    float: left;
    margin-right: 1em;
}
